<section>
  <a [routerLink]="['/']">
    <h1>Home</h1>
  </a>
  <a [routerLink]="['/child']"> <h1>Child</h1></a>
  <a [routerLink]="['/text']"> <h1>Test</h1></a>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil illum
    temporibus porro minus sapiente nam accusantium, nisi, autem ex itaque quasi
    error non rerum fuga accusamus. Quis reprehenderit velit doloremque officiis
    eligendi a dicta!
  </p>
</section>]

<section>
  <router-outlet></router-outlet>
</section>
